rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /gifticons/{gifticonId} {
      allow read, update, delete: if request.auth != null
        && request.auth.uid == resource.data.ownerId;

      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.ownerId;
    }
  }
}
